{% extends 'base.html' %}
{% block title %}Профиль
{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      <h1>Все посты пользователя
        {{ author.get_full_name }}</h1>
      <h3>Всего постов:
        {{ author.posts.count }}
      </h3>
      <article>
        {% for post in page_obj.object_list %}
          <ul>
            <li>
              Автор:
              {{ author.get_full_name }}
              <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации:
              {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>
            {{ post.text }}
          </p>
          <a href="{% url 'posts:post_detail' post.id %}">Подробная информация
          </a>
          {% if post.group %}
            <a href="{% url 'posts:group_posts' post.group.slug %}">Все записи группы
              {{ post.group }}</a>
          {% endif %}
          {% if not forloop.last %}
            <hr>
            {% endif %}
          {% endfor %}
        </article>
        <hr>
          {% include 'posts/includes/paginator.html' %}
        </div>
      </main>
    {% endblock %}